extends layout

block content
  section
    .container.spaced-container
      .row
        .col-sm-4.hs
          .headshot
            img(src="/images/mel-stephenson.jpg")
            a.btn.btn-block.btn-primary(href="mailto:melstephenson5@gmail.com")
              i.glyphicon.glyphicon-envelope
              | &nbsp;
              | Email Mel
            a.btn.btn-block.btn-primary(href="tel:0211704107", title="021 170 4107") 
              i.glyphicon.glyphicon-phone-alt
              | &nbsp;
              | Phone Mel
        .col-sm-8
          h2 Mel Stephenson
          h3 Registered Psychologist
          p I am a New Zealand trained and registered Psychologist with a background in health psychology.
          p I enjoy working collaboratively with adults to meet their goals. Our sessions will explore the issues concerning you most while providing practical skills and strategies to manage them in a way that is useful in the short term and sustainable in the long term.
          p
            a(href='/mel-stephenson') Read more about Mel
      .row
        .col-sm-4.hs
          .headshot
            img(src="/images/stephen-schaapveld.jpg")
            a.btn.btn-block.btn-primary(href="mailto:s.schaapveld@clear.net.nz") 
              i.glyphicon.glyphicon-envelope
              | &nbsp;
              | Email Stephen
            a.btn.btn-block.btn-primary(href="tel:0211812511", title="021 181 2511")
              i.glyphicon.glyphicon-phone-alt
              | &nbsp;
              | Phone Stephen
        .col-sm-8
          h2 Stephen Schaapveld
          h3 Registered Psychologist
          p I am a New Zealand trained and registered Psychologist who works with men and women of all ages, backgrounds and beliefs.
          p I work with you in a collaborative goal focused manner utilising a variety of therapeutic approaches to help you gain mastery and peace with the issues you are facing in your life.
          p Our sessions will help you gain a deeper insight into what is causing you to feel and act the way you do and to gain coping skills and strategies to manage the difficulties you are experiencing so you can have a more rewarding and fulfilling life.
          p
            a(href='/stephen-schaapveld') Read more about Stephen
