extends layout

block content
  section
    .container
      .row
        .col-md-4.hs
          img.headshot(src="/images/mel-stephenson.jpg")
        .col-md-8
          h2 Mel Stephenson, Registered Psychologist
          p Mel is a psychologist with five years' experience in helping people achieve permanent change. She has experience promoting lifestyle change as well as managing addiction, anxiety, depression, loss, chronic medical conditions, and coping with medically unexplained symptoms. Her focus for change is always agreed collaboratively with clients.
          p She is a New Zealand registered psychologist and a member of the New Zealand Psychological Society (Institute of Health Psychology) and ANZACBT. 
