extends layout

block content
  section
    .container.spaced-container
      .row
        .col-sm-4.hs
          .headshot
            img(src="/images/mel-stephenson.jpg")
            a.btn.btn-block.btn-primary(href="mailto:melstephenson5@gmail.com") Email Mel
            a.btn.btn-block.btn-primary(href="tel:0211704107") Phone Mel
        .col-sm-8
          h2 Mel Stephenson
          h3 Registered Psychologist
          p Mel is a psychologist with five years' experience in helping people achieve permanent change. She has experience promoting lifestyle change as well as managing addiction, anxiety, depression, loss, chronic medical conditions, and coping with medically unexplained symptoms. Her focus for change is always agreed collaboratively with clients.
      .row
        .col-sm-4.hs
          .headshot
            img(src="/images/stephen-schaapveld.jpg")
            a.btn.btn-block.btn-primary(href="mailto:melstephenson5@gmail.com") Email Stephen
            a.btn.btn-block.btn-primary(href="tel:0211704107") Phone Stephen
        .col-sm-8
          h2 Stephen Schaapveld
          h3 Registered Psychologist
          p Gentrify jean shorts High Life Banksy, tofu veniam chambray sustainable deep v retro. Four loko Banksy farm-to-table ex sriracha, occupy yr deep v Bushwick. American Apparel id DIY slow-carb, adipisicing synth cred consequat. Adipisicing fap nesciunt, et flexitarian gastropub drinking vinegar est chambray asymmetrical ennui.
          p Voluptate ex tattooed irony +1, Wes Anderson VHS High Life before they sold out fugiat actually four loko food truck mixtape. Synth ethical keytar cillum disrupt mumblecore. Fashion axe occupy aesthetic, Terry Richardson small batch nostrud pork belly ethical put a bird on it craft beer enim cray asymmetrical.
