extends layout

block content
  .jumbotron
    .container
      h1 Resilience Psychologists
      p One to one support from a registered psychologist to increase resilience and mental flexibility &mdash; helping you roll with the punches that life throws.
      a.btn.btn-primary.btn-lg(href="/about") Get Started
