extends layout

block content
  section
    .container
      .row
        .col-sm-12
          h1 Resilience Psychology
          p.lead We are a group of registered Psychologists who are dedicated to improving your physical and emotional well-being. We bring all of our experience and training to meet your needs.
      .row
        .col-sm-12
          p.lead.alert Located in West and Central Auckland
      .row
        .col-sm-12
          p We provide treatment and support for a wide range of issues, including:
          ul
            li Anxiety
            li Depression
            li Stress
            li Workplace challenges
            li Behavioural change
            li Life's ups and downs
            li Chronic Pain
            li Adjusting to serious illness or loss
            li Managing chronic health conditions
            li Lifestyle management
          p 
            a.btn.btn-block.btn-lg.btn-primary(href='/about') 
              i.glyphicon.glyphicon-chevron-right
              | &nbsp;
              | Arrange an appointment
