doctype 5
html
  head
    title Resilient Psychologists
    script(src='/js/jquery.js')
    script(src='/js/collapse.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    header.navbar.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="nav.navbar-collapse")
            i.glyphicon.glyphicon-th-list
          a.navbar-brand(href="/") Resilient Psychologists
        nav.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/about") About Us
    block content
