doctype 5
html
  head
    title Be Resilient
    link(rel='stylesheet', href='/css/style.css')
  body
    header.navbar.navbar-fixed-bottom
      .container
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/start") Get Started
          li
            a(href="/about") About Be Resilient
    block content
