extends layout

block content
  section
    .container
      .row
        .col-sm-4.hs
          .headshot
            img(src="/images/mel-stephenson.jpg")
            h4 Locations
            p Grey Lynn
            a.btn.btn-block.btn-primary(href="mailto:melstephenson5@gmail.com")
              i.glyphicon.glyphicon-envelope
              | &nbsp;
              | Email Mel
            a.btn.btn-block.btn-primary(href="tel:0211704107", title="021 170 4107") 
              i.glyphicon.glyphicon-phone-alt
              | &nbsp;
              | Phone Mel
            a.btn.btn-block.btn-primary(href="mailto:melstephenson5@gmail.com") Email Mel
        .col-sm-8
          h2 Mel Stephenson
          h3 Registered Psychologist
          p I am a New Zealand trained and registered Psychologist with a background in health psychology.
          p I enjoy working collaboratively with adults to meet their goals. Our sessions will explore the issues concerning you most while providing practical skills and strategies to manage them in a way that is useful in the short term and sustainable in the long term.
          h3 Qualifications
          ul 
            li Post Graduate Diploma in Health Psychology - (The University of Auckland)
            li Master of Science in Health Psychology – First class honours (The University of Auckland)
            li Bachelor of Arts (Hons) – (The University of Otago)
            li NZ Registered Psychologist
            li Member of NZ Psychological Society 
            li Member of ANZACBT
          h3 Therapy Approach
          p I have used a range of therapeutic approaches including Cognitive Behavioral Therapy (CBT), Motivational Interviewing, Acceptance and Commitment Therapy (CBT), mindfulness and problem solving therapy. The general approach and techniques used are agreed collaboratively, according to individual preferences and needs.
          p I have helped people to work on issues including:  
          ul
            li Low and depressed mood
            li Anxiety
            li Lifestyle change
            li Medically unexplained symptoms
            li Chronic fatigue
            li Chronic pain
            li Managing chronic illness
            li Adjustment to illness and loss
            li Addictions
