extends layout

block content
  section
    .container
      .row
        .col-md-4.col-sm-4
          // http://www.flickr.com/photos/kky/704056791/
          img.thanks(src="/images/king-cloud.jpg")
        .col-md-8.col-sm-8
          p Thanks for making contact!
          p We'll be in touch as soon as possible.
          p 
            i ~ The Be Resilient Team
