@import "bootswatch.less";
@import "bootstrap/bootstrap.less";

// http://www.flickr.com/photos/yaranaika/6087843901/
@bg-color: rgba(255, 255, 255, 0.95);

body {
    padding: @navbar-height + 30 0;
    background: #eee url('/images/bg.jpg') no-repeat fixed;
    background-size: cover;
}

h4 {
  font-weight: bold;
}

header {
    background-color: @bg-color;

    .nav > li {
        background-color: #f8f8f8;
    }
}

section {
    padding: 30px 0 10px;
    background-color: @bg-color;
    p {
        margin: 0 0 20px;
        font-size: 1.2em;
        line-height: 1.6;
    }
    li {
        font-size: 1.2em;
        line-height: 1.6;
  }
}

.hs {
    padding: 40px 0 0;
    text-align: center;
}

.headshot {
  img {
    width: 240px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    margin: -20px 0 20px;
  }
}

.spaced-container {
  .row {
    padding-bottom: 30px;
    padding-bottom: 45px;
    border-bottom: 1px solid @gray-light;
    &:last-child {
      border-bottom: none;
    }
  }
}

blockquote {
  background: white;
  border-radius: 8px;
  border-left: 8px solid darken(@gray-lighter, 5%);
  border-right: 3px solid darken(@gray-lighter, 5%);
  border-top: 3px solid darken(@gray-lighter, 5%);
  border-bottom: 3px solid darken(@gray-lighter, 5%);
  footer {
    color: @gray-light;
    &:before {
      content: '\2014 \00A0';
    }
  }
}
